{% extends 'main/main_page.html' %}
{% load static %}
{% load mytag_tags %}


{% block content %}
{% my_tag as list_of_games%}
<div class="jumbotron text-center">
    <table>
        {% for game in list_of_games %}
        {% if game.color %}
        <tr style="color: red">
            <td style="color: red">{{ game.id }}</td>
            <td>{{ game.name }}</td>
            <td>{{ game.developer }}</td>
            <td>{{ game.platform }}</td>
        <tr>
        {% else %}
        <tr>
            <td>{{ game.id }}</td>
            <td>{{ game.name }}</td>
            <td>{{ game.developer }}</td>
            <td>{{ game.platform }}</td>
        <tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}
